.write-book,
.write-chapter {
  color: $color-text;
  padding: 7px ($space-border-mb - 15) 50px;

  .form-write {
    font-size: 1.4rem;

    .form-label {
      color: $color-scorpion;
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem;
    }

    &__content {
      margin: 30px 0;

      &__header {
        .form-group {
          margin: 0;
        }

        &__title {
          font-size: 2.2rem;
        }

        &__input {
          border: 0;
          border-bottom: 1.2px solid $color-black;
          border-radius: 0;
          padding: 0.7rem 0;
          font-size: 2.4rem;
          height: 5rem;
          font-weight: bold;

          &:focus {
            box-shadow: none;
          }

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $color-silver-chalice-dark;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            color: $color-silver-chalice-dark;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &:-ms-input-placeholder {
            /* IE 10+ */
            color: $color-silver-chalice-dark;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: $color-silver-chalice-dark;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }

      &__header {
        &__title {
          color: $color-text;
          display: inline-block;
          font-size: 1.3rem;
        }
      }

      &__summary {
        margin: 43px 0 0;
        .public-DraftEditorPlaceholder-root {
          opacity: 0.4;
        }

        &.bookcontent {
          margin: 43px 0 0;
        }

        &__title {
          color: $color-scorpion !important;
          margin: 0 !important;
          // padding: 7px 9px;
        }

        &__book {
          .public-DraftEditorPlaceholder-inner {
            font-size: 1.2rem;
            font-weight: 600;
            opacity: 0.2;
          }
        }
      }
    }

    &__taskbar {
      .mg-bottom {
        margin-bottom: 15px;
      }

      &__status {
        &__list {
          display: inline-block;
        }
      }
    }

    &__submit {
      text-align: center;
      margin: 65px 0 0;

      &__btn {
        margin: 3px;
        min-width: 138px;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }

  .alert {
    margin-top: 15px;
  }

  .invalid-feedback {
    margin-top: 5px;
  }
}

.write-chapter {
  .form-write {
    &__status {
      &__list {
        color: $color-main;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 37%;
      }
    }

    &__submit {
      margin: 0;
    }
  }
}

// Block @media
@include media-breakpoint-up(md) {
  .write-book,
  .write-chapter {
    padding: 15px 0 100px;

    .form-write {
      max-width: 732px;
      margin: 0 auto;

      &__content {
        margin: 65px 0;

        &__header {
          &__title {
            font-size: 2.2rem;
          }
        }

        &__summary {
          .DraftEditor-root {
            .DraftEditor-editorContainer {
              height: auto;
              min-height: 206px;
              border: none;
              // background: linear-gradient(to left, white 5px, transparent 5px),
              //   linear-gradient(
              //     white 0,
              //     white 96%,
              //     $color-main 96%,
              //     $color-main 100%
              //   );
              // background-size: 8px 100%, 100% 1.45em;
              // background-repeat: repeat-x, repeat-y;
            }
          }
        }
      }

      &__taskbar {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;

        .mg-bottom {
          margin-bottom: 0;
        }

        &__level,
        &__status {
          margin-left: 22px;
          flex-basis: calc(34% - 22px);
        }

        &__category,
        &__topic,
        &__tag {
          flex-basis: 66%;
        }

        &__status,
        &__tag {
          margin-top: 45px;
        }

        &__one-shot {
          display: inline-block;
          margin-top: 25px;
        }
      }

      &__submit {
        margin: 55px 0 0;

        &__btn {
          // padding: 9px 15px;
          margin: 0 10px;
          min-width: 100px;
        }
      }
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    border: solid 1.2px black;
  }

  .write-chapter {
    .form-write {
      &__status {
        display: inline-block;
        padding: 10px 0;
      }

      &__taskbar {
        &__level {
          margin: 0;
        }
      }

      &__submit {
        display: inline-flex;
        margin: 55px 0 0;
        text-align: right;
        justify-content: space-between;
        width: 90%;
        // float: right;

        &__btn {
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
