$icomoon-font-path: 'fonts' !default;

$ico-clock2: '\e900';
$ico-bookmark: '\e901';
$ico-chat: '\e902';
$ico-add: '\e903';
$ico-instagram: '\e904';
$ico-file-text: '\e905';
$ico-facebook: '\e906';
$ico-heart: '\e907';
$ico-home: '\e908';
$ico-list: '\e909';
$ico-pencil: '\e90a';
$ico-spinner: '\e90b';
$ico-star-full: '\e90c';
$ico-google-plus: '\e90d';
$ico-magnifying-glass: '\e90e';
$ico-user: '\e90f';
$ico-star-empty: '\e910';
$ico-plus: '\e911';
$ico-chevron-left: '\e912';
$ico-chevron-right: '\e913';
$ico-chevron-down: '\e914';
$ico-chevron-up: '\e915';
$ico-undo: '\e916';
$ico-eye: '\e917';
$ico-twitter: '\e918';
$ico-share: '\e919';
$ico-like: '\e91a';
$ico-trash: '\e91b';
$ico-pen: '\e91c';
$ico-follower: '\e91d';
$ico-following: '\e91e';
$ico-date-picker: '\f073';
